iamEntrysIndex
SINGLE LINE
<table class="entry-index" cellspacing="0" width="90%">
    <thead>
        <tr>
            <th>Entry</th>
            <th>Date</th>
            <th colspan='3'>Attachments</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Entry</th>
            <th>Date</th>
            <th colspan='3'>Attachments</th>
        </tr>
    </tfoot>

    <tbody id="entry-table-body" >
        <!-- the following template will be rendered here -->
    </tbody>
    
        <script type="text/template" id="entry-show-template">
                <td data-action='toggleEntrySkin'> <%%= id %> <%%= text_blob %></td>
                <td>                               <%%= created_at %> </td>
                <td>photo_icon, num</td>
                <td>file_icon, num</td>
                <td>file_icon, num</td>
                <td>audio_icon, num</td>
                
        </script>
</table>
/iamEntrysIndex



