<div class="entries-content-window container index-container" id="entries-index-container">

  <ul>
    <li><a href="#log_list">LOGS</a></li>
    <li><a href="#file_list">FILES</a></li>
  </ul>


  <div id="log_list">

    <div class="utility_bar index-utility_bar" id="entries-index-utility">
        Filters:
          <button data-action='filter' data-collection='entryCollection' data-scope='all'>clear filters</button> ||
          To Client:
              <button data-action='filter' data-collection='entryCollection' data-scope='visable_to_job_client_status_scope'>visable</button> / 
              <button data-action='filter' data-collection='entryCollection' data-scope='hidden_from_job_client_status_scope'>hidden</button> ||
          To Subcontrators:
              <button data-action='filter' data-collection='entryCollection' data-scope='visable_to_job_subcontractors_status_scope'>visable</button> / 
              <button data-action='filter' data-collection='entryCollection' data-scope='hidden_to_job_subcontractors_status_scope'>hidden</button>
    </div>

  <table class="index index_table" id="entries-index">
  <!-- <table class="index index_table" id="entries-index" cellspacing="0" width="90%"> -->
    <thead>
      <tr>
        <th>Entry</th>
        <th>Date</th>
        <th colspan='2'>Visable To </th>
        <th>Attachment</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th>Customer</th>
        <th>Subcontractors</th>
        <th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th>Entry</th>
        <th>Date</th>
        <th colspan='2'>Visable To </th>
        <th>Attachment</th>
      </tr>
    </tfoot>

    <tbody class="index" id="entries-index-table_body">
        <!-- the following template will be rendered here -->
    </tbody>

      <script type="text/template" id="entry-template">
        <td> <%%= id %> <%%= text_blob %></td>

        <td> <%%= moment(created_at).format('YYYY-mm-DD') %> </td>

        <td data-action='toggleVisibleToJobClientStatus' class='entry_visible_to_job_client_status td-contains-icon'>
                            <%%= conditionalInserter( visable_to_job_client_status , "<span class='icon-in-cell ui-state-default ui-corner-all ui-icon ui-icon-check'></span>", "<span class='icon-in-cell ui-state-default ui-corner-all ui-icon ui-icon-circle-close'></span>") %> </td>

        <td data-action='toggleVisibleToJobSubcontractorsStatus' class='entry_visible_to_subcontractors_status td-contains-icon'>
                            <%%= conditionalInserter(visable_to_job_subcontractors_status,  "<span class='icon-in-cell ui-state-default ui-corner-all ui-icon ui-icon-check'></span>", "<span class='icon-in-cell ui-state-default ui-corner-all ui-icon ui-icon-circle-close'></span>") %> </td>

        <td data-action='focusOnAttachments' class="td-contains-icon"><%= image_tag('jpeg_icon.png', width: '30px', class: 'attachment-icon-img') %> <span class='text-over-previous-image'><%%= attachments.length %></span></td>
      

        <td class="td-for-file-upload">
          <form>
            <input type="hidden" name="entry_id" value="<%%= id %>">
            <input class="fileupload-btn" id="entry-<%%= id %>-file-upload" multiple="multiple" name="attachment[file]" type="file" value='xyz'/>
            <div class="fileupload-btn-replacer">click or drag here to attach</div>
            
          </form>
        </td>
        <td data-action='toggleAttachmentsVisability'> show attachments</td>
      </script>
      

      <script type="text/template" id="attachments-row-template">
        <p>I am an attachment</p>
        <a href="<%%=file.url%>"> <img src="<%%= file.thumb.url%>"></a>
      </script>


    </table>
  </div> <!-- End of log tab div -->


<div id="file_list">
  <!-- INSERT CODE TO SHOW FILES LIST/GRID HERE -->
</div>

</div>


<div class=hidden>
 EXTRA STUFF
<<<<<<< HEAD
   <td class="fileupload-btn attachment-fileupload-btn"> click here to attach
          <form>
              <input type="hidden" name="entry_id" value="<%%= id %>">
              <input class="fileupload-btn" id="entry-<%%= id %>-file-upload" multiple="multiple" name="attachment[file]" type="file" />
          </form>
        </td>
=======
>>>>>>> feature/jr_add_attachments_to_entries

  <td data-action='focusOnPhotos'><%= image_tag('jpeg_icon.png', width: '30px', class: 'attachment-icon-img') %> <span class='text-over-previous-image'><%%= photos.length %></span></td>
  <td data-action='focusOnDocs'><%= image_tag('docx_icon.png', width: '30px', class: 'attachment-icon-img') %> <span class='text-over-previous-image'><%%= docs.length %></span></td>
  <td data-action='focusOnAudios'> [MIC_IMG] <span class='text-over-previous-image'> <%%= audios.length %></span></td>
</div>



