<div class="container new-container" id="new-entry-container">

  <div class="hidden slider new-slider new-job-slider" id="new-entry">
    I am a new entry form.
    <form>

      <input class='entry-text-field' type="textarea" id="text_blob" placeholder="Add an entry...">

      <div class='entry-text-field-partner float_right'>
        <button id="attach_file" type="submit">attach</button>
        <button id="save_entry" type="submit">save</button>
        <p class="timestamp">created: <span class='created-at'></span>
        <p class="timestamp">modified: <span class='updated_at'></span>
          <!-- #FIX timestamps are hidden by default (maybe...?), spans should be updated with current record's account info updated with -->
      </div>

    </form>

  </div>

  <button class="tab new-tab" id="new-entry-tab"> Add an Entry (+) </button>

</div>
