<div class="container index-container" id="jobs-index-container">

    <div class="utility_bar index-utility_bar" id="jobs-index-utility">
        <!-- I am Jobs-Index-utility_bar -->
    </div>

        <table class="index index_table" id="jobs-index">
        <!-- <table class="jobs-index" cellspacing="0" width="90%"> -->
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Job</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Contract Price</th>
                    <th colspan='3'>Status</th>
                </tr>
            </thead>

            <tfoot>
                <tr>
                    <th>Customer</th>
                    <th>Job</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Contract Price</th>
                    <th>CLOSED?</th>
                    <th>PAUSED?</th>
                    <th>Trash?</th>
                </tr>
            </tfoot>

            <tbody class="index-table_body" id="jobs-index-table_body">
                <!-- the template will be rendered here -->
            </tbody>
                <script type="text/template" id="job-template">
                        <td data-action='showCustomerDisplay' class='job-customer'> [customer name here] (id:<%%= id %>)</td>
                        <td data-action='showJob' class='job-name'> <%%= name %> </td>
                        <td data-action='' class='job-start_date'> <%%= start_date %> </td>
                        <td data-action='' class='job-end_date'> <%%= end_date %> </td>
                        <td data-action='' class='job-contract_price'> <%%= accounting.formatMoney(contract_price, {precision: 0}) %> </td>
                        
                        <td data-action='toggleClosedStatus' class='job-closed_status td-contains-icon'>
                            <%%= conditionalInserter( closed_status , "<span class='icon-in-cell ui-state-default ui-corner-all ui-icon ui-icon-folder-collapsed'></span>", "<span class='icon-in-cell ui-state-default ui-corner-all ui-icon ui-icon-folder-open'></span>") %> </td>
                        
                        <td data-action='togglePausedStatus' class='job-paused_status td-contains-icon'>
                            <%%= conditionalInserter(paused_status,  "<span class='icon-in-cell ui-state-default ui-corner-all ui-icon ui-icon-pause'></span>", "<span class='icon-in-cell ui-state-default ui-corner-all ui-icon ui-icon-circle-arrow-e'></span>") %> </td>            
                        
                        <td data-action='destroy'           class='job-delete td-contains-icon'> 
                                                                    <span class='icon-in-cell ui-state-default ui-corner-all ui-icon ui-icon-trash'></span></td>
                </script>
        </table>

</div>



