
<!-- hidden by default -->
  <div class="jobs new jobs-new hidden">
    <form id="">
      I am a new job form.
      <input type="text" id="job_name" placeholder="Job Name">
      <input type="text" id="client" placeholder="Customer">
      <label>Start date:</label>
      <input type="datepicker" id="start_date"></input
       <label>End date:</label>
      <input type="datepicker" id="end_date"></input>
      <input type="text" id="job_cost" placeholder="Job Cost">
      <input type="textarea" id="job_description" placeholder="Description"
      <button id="submit_job" type="submit">Add Job</button>
    </form>
  </div>


<!-- visable by default -->
  <div class="jobs btn new-btn jobs-new-btn"> jobs new pulldown tab thing </div>
