<div class="container new-container" id="new-job-container">

  <div class="hidden slider new-slider new-job-slider" id="new-job">

    <form>
      <!-- I am a new job form. -->
      <input type="text" id="job_name" placeholder="Job Name">
      <input type="text" id="client" placeholder="Customer">
      <input type="text" name="date" id="start_date" placeholder="start date"></input>
      <input type="text" name="date" id="end_date" placeholder="end date"></input>
      <input type="text" id="job_cost" placeholder="Job Cost">
      <input type="textarea" id="job_description" placeholder="Description"
      <button id="submit_job" type="submit">Add Job</button>
    </form>

  </div>

  <button class="tab new-tab" id="new-job-tab"> Add a Job</button> <!-- visable by default -->

</div>
