
<!-- hidden by default -->
<div class="container new-container">
  iam new-container

  <div class="slider new-slider  new new-form jobs jobs-new jobs-new-form hidden">
    <form>
      I am a new job form.
      <input type="text" id="job_name" placeholder="Job Name">
      <input type="text" id="client" placeholder="Customer">
      <label>Start date:</label>
      <input type="datepicker" id="start_date"></input
       <label>End date:</label>
      <input type="datepicker" id="end_date"></input>
      <input type="text" id="job_cost" placeholder="Job Cost">
      <input type="textarea" id="job_description" placeholder="Description"
      <button id="submit_job" type="submit">Add Job</button>
    </form>
  </div>


<!-- visable by default -->
  <button class="btn tab new-btn new-tab jobs jobs-new-btn jobs-new-tab"> Add a Job (+) </button>
  /iam new-container
</div>