<div>
  <div>
    <p>To make a new entry, simply enter it in the field below and add new or pre-existing files.</p>
    <div id="entry_field">
      I'm the entry field.
    </div>
    <div id="job_entry_buttons">
      <button type="upload">Upload</button>
      <button type="submit">Add</button>
    </div>
  </div>
  <div id="job_browser">
    <div id="filter_buttons">
      This is where filter buttons go.
    </div>
    <div id="job_filter_search">
      I'm the search box.
    </div>
    <div>
      I'm where the different sort type buttons go
    </div>
    <div id="entries">
      I'm where you can see a log of entries.
    </div>
    <div id="files">
      I'm where you can see a log of files.
    </div>
  </div>

</div>
