<div id='splash-wrap'>
  <div id='splash_container'>
    <h2>Contracto organizes your jobsite assets so you can get back on the job.</h2>
  </div>
  <p><%#= link_to('sign up', new_admin_registration_path) %>
  <p><%#= link_to('log in', new_admin_session_path) %>

  </div>
</div>
<!-- sign in
log in
new_admin_session -->
