<div id='splash-wrap'>
  <div id='splash_container'>
    <ul>
      <li><a href=".login">Login</a></li>
      <li><a href=".signup">Sign-Up</a></li>
    </ul>

    <div class='container login'>
      <%= link_to "Sign up", new_admin_registration_path %>
    </div>
    <div>
      <%= link_to "Login", new_admin_session_path %>
    </div>
    </div>
  <p><%#= link_to('sign up', new_admin_registration_path) %>
  <p><%#= link_to('log in', new_admin_session_path) %>

  </div>
</div>
<!-- sign in
log in
new_admin_session -->
