<div id="header">
  <div class="main_logo">
    Main Logo Here
  </div>
  <div id="title">
    <h1>Contracto</h1>
  </div>
  <div id="section_header">
    Section Header
  </div>
  <div id="search_box">
    Search Box
  </div>
  <div id="hamburger">
    Hamburger
  </div>
</div>
