<table class="display" cellspacing="0" width="90%">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Job</th>
            <th>Start Date:</th>
            <th>End Date</th>
            <th>Job Amount:</th>
            <th>Status</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>Customer</th>
            <th>Job</th>
            <th>Start Date:</th>
            <th>End Date</th>
            <th>Job Amount:</th>
            <th>Status</th>
        </tr>
    </tfoot>

    <tbody id="jobs-table-body" >
        <!-- <tr>
            <td id="customer"></td>
            <td id="job_title"></td>
            <td id="start_date"></td>
            <td id="end_date"></td>
            <td id="job_amount"></td>
            <td id="status"></td>
        </tr> -->
    </tbody>
        <script type="text/template" id="job-show-template">
            <tr>
                <td>I am a job</td>
                <td> JobName: <%%= name %> </td>
                <td> JobID: <%%= id %> </td>
            <tr>
        </script>
</table>

        
 