<!-- This is the guts of the 1 page app -->
iamCompanies/_Show.erb
<div class="content-box">
  iam content-box
  
  <div class="display jobs jobs-display">   <!-- visable by default. -->
    iam jobs-display
    <%= render "jobs/new" %>                <!-- visable by default. -->
    <%= render "jobs/index" %>              <!-- visible by default. -->
    /iam jobs-display
  </div>

  <div class="display entries entries-display" class="hidden"> <!-- hidden by default -->
    iam entries-display
    <%= render "entries/new" %>                      <!-- hidden by default -->
    <%#= render "entries/utility_bar" %>
    <%= render "entries/index" %>                     <!-- hidden by default -->
    /iam entries-display
  </div>


  /iam content-box
</div>
/iamCompanies/_Show.erb

