<header>
  <div class="header-menu-item" id="main-logo">
    Main Logo Here
  </div>

  <div class="header-menu-item" id="section-header">
    Section Header
  </div>

  <div class="header-menu-item" id="application-name">
    Contracto
  </div>

  <div class="ui button header-menu-item" id="hamburger" data-variation=".right">
    ☰
  </div>
</header>


